.about {
  position: relative;
  margin-bottom: 235px;

  @include vp-1199 {
    margin-bottom: 180px;
  }

  @include vp-767 {
    margin-bottom: 75px;
  }

  h3 {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    margin-bottom: 38px;
    color: $sapphire;
    font-weight: 400;

    @include vp-1199 {
      margin-bottom: 33px;
    }

    @include vp-767 {
      margin-bottom: 24px;
    }
  }

  .about__container {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 80px;
    padding-left: 120px;
    justify-content: end;

    @include vp-1199 {
      grid-template-columns: 1fr;
      gap: 44px;
      text-align: center;
      padding-left: 45px;
    }

    @include vp-767 {
      padding: 0;
      text-align: left;
      gap: 33px;
      aspect-ratio: 320/312;
    }
  }
}

.about__inner {
  width: 440px;
  padding: 0 80px 20px 0;

  @include vp-1199 {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  @include vp-767 {
    padding: 0 15px 0;
    text-align: left;
  }
}

.about h2 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  font-family: $ff-alumnisans;
  letter-spacing: 0.03em;
  margin: 40px 0 7px;
  color: $sapphire;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin: 0;
    padding-right: 14px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    text-align: left;
    margin-bottom: 5px;
  }
}

.about__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  @include vp-1199 {
    width: 502px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: auto;
    min-width: 258px;
    margin: 0;
    padding-right: 32px;
  }
}

.about__text p {
  margin: 0;
  padding-bottom: 8px;

  @include vp-1199 {
    padding: 0;

    &:last-child {
      display: none;
    }
  }

  @include vp-767 {
    padding: 0;
  }
}

.about__img {
  @include vp-1199 {
    width: 100%;
  }
}

.about__img img {
  @include vp-1199 {
    width: 100%;
  }
}
