.video {
  position: absolute;
  background-color: rgba(20, 54, 122, 0.5);
  top: 265px;
  width: 364px;
  height: 228px;
  left: 50%;
  transform: translate(-39%, 9%);

  @media (max-width: 1230px) {
    left: 52%;
  }

  @include vp-1199 {
    width: 32%;
    top: 70%;
    left: 50%;
    min-width: 266px;
    max-height: 100%;
    height: 167px;
    padding-top: 22%;
    bottom: 0;
    transform: translate(-50%, 50%);
  }

  @include vp-767 {
    margin-top: 5px;
    position: relative;
    width: 100%;
    transform: none;
    left: 0;
    top: 0;
    padding-top: 51.2%;
    height: 100%;
  }
}

.video__link {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 54, 122, 0.5);
    z-index: 1;
    position: absolute;
    top: 0;
  }
}

.video__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;


  &:hover svg,
  &:focus svg {
    transform: scale(1.2);
  }

  & svg {
    width: 100px;
    height: 100px;
    transition: all 300ms;

    @include vp-1199 {
      width: 73px;
      height: 73px;
    }
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;
  }
}
